@layer components {
  .ui-booking-first-step-entrance {
    animation:
      ui-booking-first-step-slide 295ms linear both,
      ui-booking-first-step-fade 300ms cubic-bezier(0.25, 0.1, 0.35, 1) both;
  }

  @keyframes ui-booking-first-step-slide {
    0% {
      translate: 20px 0;
    }
    5% {
      translate: 19.04px 0;
    }
    10% {
      translate: 16.66px 0;
    }
    15% {
      translate: 13.52px 0;
    }
    20% {
      translate: 10.12px 0;
    }
    25% {
      translate: 6.86px 0;
    }
    30% {
      translate: 3.99px 0;
    }
    35% {
      translate: 1.64px 0;
    }
    40% {
      translate: -0.13px 0;
    }
    45% {
      translate: -1.34px 0;
    }
    50% {
      translate: -2.06px 0;
    }
    55% {
      translate: -2.37px 0;
    }
    60% {
      translate: -2.37px 0;
    }
    65% {
      translate: -2.16px 0;
    }
    70% {
      translate: -1.82px 0;
    }
    75% {
      translate: -1.42px 0;
    }
    80% {
      translate: -1.01px 0;
    }
    85% {
      translate: -0.64px 0;
    }
    90% {
      translate: -0.33px 0;
    }
    95% {
      translate: -0.08px 0;
    }
    100% {
      translate: 0 0;
    }
  }

  @keyframes ui-booking-first-step-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
