http:
  middlewares:
    eli-coach-platform-test-design-reference-strip:
      stripPrefix:
        prefixes:
          - /eli-coach-platform/design-reference

  routers:
    eli-coach-platform-test-design-reference:
      entryPoints:
        - websecure
      middlewares:
        - eli-coach-platform-test-design-reference-strip
      priority: 300
      rule: Host(`__EDGE_HOSTNAME__`) && PathPrefix(`/eli-coach-platform/design-reference`)
      service: eli-coach-platform-test-design-reference
      tls: {}

    eli-coach-platform-test-platform:
      entryPoints:
        - websecure
      priority: 1
      rule: Host(`__EDGE_HOSTNAME__`) && PathPrefix(`/eli-coach-platform`)
      service: eli-coach-platform-test-platform
      tls: {}

  services:
    eli-coach-platform-test-platform:
      loadBalancer:
        servers:
          - url: http://eli-coach-platform-test-platform-__STACK_COLOR__:3000

    eli-coach-platform-test-design-reference:
      loadBalancer:
        servers:
          - url: http://eli-coach-platform-test-design-reference-__STACK_COLOR__:3000
